.NavBar a{
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.NavBar a:hover {
    
    color: white !important;
  }
  
  .NavBar a.active {
    font-weight: bold;
    color:rgba(238, 238, 238, 0.756);
  }
  